aside.cart {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: right;
    align-items: center;
    box-shadow: var(--shadow);
}

aside.cart img {
    padding:  5px;
    width: 60%;
}
div.dropdown {
    margin-right: 30px;
    
}

button.dropdown-toggle {
    width: 130px;
}