aside.menu-area {
    background-color: #050505;
    box-shadow: 
    2px 0 10px rgba(0,0,0,0.12)
    2px 0 15px rgba(0,0,0,0.09);
}

.menu div {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 15px;
}

.menu div:hover {
    background: linear-gradient(134deg, #07a7e3 0%, #32dac3 100%);
}

h1.search {
    color: #32dac3;
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

div {
 font-size: 20px;
}
