
header.cart {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    /* box-shadow: var(--shadow); */
}

header.cart img {
    padding:  0px 30px;
    width: 90%;
}