div.home {
    display: flex;
}

div.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

div.productContainer {
    width: 250px;
    padding: 10px;
    margin: 5px;
}